// variable

$medium-font-size: 1.6rem;
$x-large-font-size: 2.6rem;
$large-font-size: 1.8rem;
$small-font-size: 1.4rem;

$color-primary: #2c004f;
$color-primary-light: #5a2c7c;
$color-point: #0065ed;
$color-bg: #120028;
$color-black: #252525;
$color-white: #ffffff;
$color-grey: #787878;
$color-beige: #f3efe9;

$text-margin: 1.2em;
