@font-face {
	font-family: 'GmarketSansMedium';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'GmarketSansBold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'GmarketSansLight';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

html {
	font-size: 58%;

	@include media-query('mobL-and-tab' && 'desktop') {
		font-size: 62.5%;
	}
}

body {
	overflow: hidden;
	display: flex;
	position: relative;
	height: 100vh;
	align-items: center;
	justify-content: center;
	font-family: 'GmarketSansMedium';
	font-size: $medium-font-size;
	color: $color-black;
}

::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
	background: $color-point;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background: $color-primary-light;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
	width: 0px;
	height: 0px;
}

a {
	color: $color-black;
	text-decoration: none;
}
// screen leader only

.sr-only {
	position: absolute;
	z-index: -1000;
	width: 1px;
	height: 1px;
	overflow: hidden;
	visibility: hidden;
}
